{% extends "base.html" %}

{% block content %}

<h2>Add Location</h2>

<form method="post">
    <label for="location_id">Location ID</label>
    <input type="text" name="location_id" id="location_id" required>

    <label for="name">Location Name</label>
    <input type="text" name="name" id="name" required>

    <button type="submit" class="btn">Save Location</button>
</form>

<div style="margin-top:16px; text-align:center;">
    <a href="/locations" class="btn">View Locations</a>
</div>

{% endblock %}
